
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .navigation{
    padding :0 1rem;

}
    .header-content{
        margin-bottom: 320px;
        display: block;
          padding: 0 2rem;
    }
    .nav-items{
        display: none;
    }
    .burger-menu img{
       display: block;
   }
   .right .hero{
     top:600px;
   }


    /* .left{
        margin-left:-200px;
    } */



}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .navigation{
    padding :0 5rem;
  }
  .nav-items{
      display: none;
  }
  .burger-menu img{
      display: block;
  }
  .header-content{
    padding:0 2rem;
    margin-bottom: 50px;
  }


}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

  .header-content{
    padding: 0 10rem;
   }
  .nav-items{
      display: none;
  }
    .burger-menu img{
        display: block;
    }
     .right .hero{
        padding-top: 150px;
        padding-left: 30px;
    }
}



/* Media Query for Laptops and Desktops
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
}
*/
