
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .navigation{
    padding :0 1rem;
  }
  .nav-items{
      display: none;
  }
    .burger-menu img{
        display: block;
    }
  .header-content{
        display:block;
        padding:0;
        overflow-x: hidden
    }
    .left{
      margin-left: 20px;
    }
   .right img{
        width:70%;
        margin-left: 70px;
     }

}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .navigation{
    padding :0 5rem;
  }
  .nav-items{
      display: none;
  }
  .burger-menu img{
      display: block;
  }
  .header-content{
    padding:0 2rem;
    margin-bottom: 50px;
  }


}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

  .header-content{
    padding: 0 8rem;
   }
  .nav-items{
      display: none;
  }
    .burger-menu img{
        display: block;
    }

}



/* Media Query for Laptops and Desktops
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
}
*/
